#dark .date {
    color: white;
}
@media only screen and (max-width: 1170px) {
  #dark .date {
     color: black
    }
  }
#dark .title {   
    color: white;
    text-align: center;
}


.title {   
    color: black;
    text-align: center;
}

