.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}
#light {
  background-color: #f0f0f0;
}

#dark {
  background-color: #0b020b;
}

body {
  padding: 0;
  margin: 0;
}


.switch {
  display: flex;
  width: -100vw;
  height: 50px;
  justify-content: right;
  align-items: center;
  padding-right: 5%;
  position: sticky;
  top: 0;
  z-index: 1;
}
#light .switch {
  background-color: #21325e;
}
#dark .switch {
  background-color: rgb(2, 5, 24);
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: white;
}

#dark .switch label {
  color: white;
}

